input{
    border: 1px solid #eee !important;
    background: #eee !important;
}
.searchbar-search-icon{
    display: none !important;
}

.searchText{
    margin: 0;
    padding: 0 1rem;
    font-size: 14px;
    color: #777;

    b{
        color: #232323;
    }
}