ion-input, ion-textarea{
    border-radius: 4px;
    border: 2px solid #eee;
    padding: 2px 8px !important;
}

ion-title{
    h4{
        margin:0;
        text-align: left;
    }
    p{
        margin: 0;
        text-align: left;
        font-size: 14px;
        color: #777777;
    }
}