<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="viewUser(userId)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #content>
  <div class="messages" #contentArea>
    <p class="center" *ngIf="startIndex > 0"><span tappable (click)="loadPreviousMessages()">Load previous
        messages</span></p>
    <div *ngFor="let message of messagesToShow">
      <div *ngIf="isSender(message)" class="chatbox right sender">
        <div *ngIf="message.type == 'text'">
          <p style="margin:0">{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" src="{{message.message}}" (load)="scrollBottom()" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
            <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
        <span>{{message.date | DateFormat}}</span>
      </div>
      <div *ngIf="!isSender(message)" class="chatbox left">
        <div *ngIf="message.type == 'text'">
          <p style="margin:0">{{message.message}}</p>
        </div>
        <div *ngIf="message.type == 'location'" [innerHtml]="message.message"></div>
        <div *ngIf="message.type == 'image'">
          <img tappable (click)="enlargeImage(message.message)" src="{{message.message}}" (load)="scrollBottom()" />
        </div>
        <div *ngIf="message.type == 'video'">
          <video controls width="100%">
            <source src="{{message.message}}" type="video/mp4">
          </video>
        </div>
        <span>{{message.date | DateFormat}}</span>
      </div>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-button slot="start" fill="clear" (click)="attach()">
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>
      <ion-textarea style="height: 100%;" autoGrow="true" rows="1" placeholder="Type your message"
        [(ngModel)]="message"></ion-textarea>
      <ion-button slot="end" color="primary" fill="clear" (click)="send('text')" [disabled]="!message">
        send
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>