<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="center ion-padding">
    <img src="assets/images/logo.png" style="width:80px;height:80px;border-radius: 20px;" />
    <h3>ionFireChat</h3>
  </div>
  <form [formGroup]="myForm">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Fullname</ion-label>
        <ion-input type="text" formControlName="name" [(ngModel)]="name"></ion-input>
        <div *ngFor="let validation of errorMessages.name">
          <p class="error"
            *ngIf="myForm.get('name').hasError(validation.type) && (myForm.get('name').dirty || myForm.get('name').touched || submitAttempt) ">
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input type="text" formControlName="username" [(ngModel)]="username"></ion-input>
        <div *ngFor="let validation of errorMessages.username">
          <p class="error"
            *ngIf="myForm.get('username').hasError(validation.type) && (myForm.get('username').dirty || myForm.get('username').touched || submitAttempt) ">
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" formControlName="email" [(ngModel)]="email"></ion-input>
        <div *ngFor="let validation of errorMessages.email">
          <p class="error"
            *ngIf="myForm.get('email').hasError(validation.type) && (myForm.get('email').dirty || myForm.get('email').touched || submitAttempt) ">
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
        <div *ngFor="let validation of errorMessages.password">
          <p class="error"
            *ngIf="myForm.get('password').hasError(validation.type) && (myForm.get('password').dirty || myForm.get('password').touched || submitAttempt) ">
            {{validation.message}}
          </p>
        </div>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" (click)="register()">
          Register
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>